body,
img,
a img,
ul,
table {
  margin: 0;
  padding: 0;
}
img,
a img {
  border: none;
  vertical-align: middle;
}
ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  vertical-align: middle;
  color: #4a4a4a;
  padding: 0 5px;
  margin: 0px;
  font-family: "å¾®è??­£é»???", Arial;
}
input[type="text"] {
  padding: 5px;
  margin: 0px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  font-size: 20px;
}
textarea {
  width: 99%;
  color: #4a4a4a;
  font-size: 20px;
  padding: 0 0.5%;
  margin: 0px;
  border: 1px solid #d3d3d3;
  font-family: "å¾®è??­£é»???", Arial;
}
select {
  vertical-align: middle;
  font-size: 20px;
  color: #4a4a4a;
  border: 1px solid #d3d3d3;
  padding: 0 0 0 3px;
  font-family: "å¾®è??­£é»???", Arial;
}
a {
  text-decoration: none;
  color: #4d6736;
}
a:hover {
  color: #555;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.showtext {
  display: block;
  overflow: hidden;
}
.hidetext {
  display: block;
  line-height: 9999px;
  overflow: hidden;
}
.red {
  color: #db0000;
}
.ps {
  color: #db0000;
}
.center {
  text-align: center;
}
body {
  font: 22px/30px "å¾®è??­£é»???", Arial, Helvetica, Georgia, Arial, sans-serif;
  color: #4a4a4a;
  -webkit-text-size-adjust: none;
}
/*-------èªªæ??---------*/
.explain {
  margin: 40px 5px 10px 5px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 16px;
  background: url(../images/explain.png) no-repeat;
}
/*-------banner---------*/
#banner {
  height: 110px;
  position: relative;
  background: url(../images/Abanner.jpg) repeat-x;
}
#banner .logo {
  position: absolute;
  left: 0;
  top: 0;
}
#banner .bannerR {
  position: absolute;
  right: 0;
  top: 0;
}
#banner .head {
  margin: 0 auto;
  width: 534px;
  padding-left: 115px;
  position: relative;
  z-index: 1;
}
#center {
  padding: 5px 0px 20px 0px;
  background-color: #FCFFF5;
  border: 1px solid #f5f5f5;
}
/*--- ????? ---*/
.Button {
  margin: 10px 8px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  cursor: pointer;
  color: #173100;
  background-color: #CBE3AA;
  border: 1px solid #8fbb3c;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 1px 0px #8fbb3c, 0px 1px 2px 0px #999999, 0px 1px 1px 0px #ffffff inset;
  -moz-box-shadow: 0px 1px 2px 0px #999999, 0px 1px 1px 0px #ffffff inset;
  -webkit-box-shadow: 0px 1px 2px 0px #999999, 0px 1px 1px 0px #ffffff inset;
  *border: 0;
  *box-shadow: 0px 0px 1px 0px #BFBFBF;
}
.Button:hover {
  color: #364d22;
  background-color: #B9D690;
  box-shadow: 0px 0px 1px 0px #8fbb3c, 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  *border: 0;
  *box-shadow: 0px 0px 1px 0px #BFBFBF;
}
.ButtonRed {
  margin: 2px 4px;
  padding: 10px 20px;
  font-size: 23px;
  line-height: 23px;
  cursor: pointer;
  color: #fff;
  background-color: #F09B89;
  border: 1px solid #c65c44;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 1px 0px #c65c44, 0px 1px 2px 0px #999999, 0px 1px 1px 0px #dedede inset;
  -moz-box-shadow: 0px 1px 2px 0px #999999, 0px 1px 1px 0px #dedede inset;
  -webkit-box-shadow: 0px 1px 2px 0px #999999, 0px 1px 1px 0px #dedede inset;
  *border: 0;
  *box-shadow: 0px 0px 1px 0px #BFBFBF;
}
.ButtonRed:hover {
  color: #fff;
  background-color: #e98974;
  box-shadow: 0px 1px 2px #418bc4, 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  text-shadow: none;
  *border: 0;
  *box-shadow: 0px 0px 1px 0px #BFBFBF;
}
.ButtonClean {
  margin: 2px 4px;
  padding: 10px 20px;
  font-size: 23px;
  line-height: 23px;
  cursor: pointer;
  color: #364d22;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 1px 0px #e3e3e3, 0px 1px 2px 0px #999999, 0px 1px 1px 0px #ffffff inset;
  -moz-box-shadow: 0px 1px 2px 0px #999999, 0px 1px 1px 0px #ffffff inset;
  -webkit-box-shadow: 0px 1px 2px 0px #999999, 0px 1px 1px 0px #ffffff inset;
  *border: 0;
  *box-shadow: 0px 0px 1px 0px #BFBFBF;
}
.ButtonClean:hover {
  color: #364d22;
  background-color: #e5e5e5;
  box-shadow: 0px 1px 2px #d9d9d9, 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  text-shadow: none;
  *border: 0;
  *box-shadow: 0px 0px 1px 0px #BFBFBF;
}
/*--- ???? åº???(?°æ¼¸å±?) ---*/
.page {
  margin: 0 2% 20px 2%;
  height: 40px;
  line-height: 40px;
  *line-height: 32px;
  border: 1px solid #a7c986;
  text-align: center;
  vertical-align: middle;
  background-color: #F4F4F4;
}
.page .first,
.page .pre,
.page .next,
.page .last {
  width: 29px;
  height: 21px;
  margin: 0 3px;
  display: inline-block;
  line-height: 9999px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
}
.page .first {
  background: url(../images/pageD.png) no-repeat;
}
.page .first:hover {
  background: url(../images/pageD.png) no-repeat 0 -21px;
}
.page .pre {
  background: url(../images/pageD.png) no-repeat -29px 0;
}
.page .pre:hover {
  background: url(../images/pageD.png) no-repeat -29px -21px;
}
.page .next {
  background: url(../images/pageD.png) no-repeat -58px 0;
}
.page .next:hover {
  background: url(../images/pageD.png) no-repeat -58px -21px;
}
.page .last {
  background: url(../images/pageD.png) no-repeat -87px 0;
}
.page .last:hover {
  background: url(../images/pageD.png) no-repeat -87px -21px;
}
.page .pageOn,
.page .pageOut {
  width: 21px;
  height: 21px;
  line-height: 20px;
  font-size: 12px;
  margin: 0 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.page .pageOn {
  background: url(../images/pageOn.png) no-repeat;
  color: #fff;
}
.page .pageOut {
  background: url(../images/pageOut.png) no-repeat;
}
.page .pageOut:hover {
  background: url(../images/pageOn.png) no-repeat;
  color: #fff;
}
.page .L {
  margin: 3px 18px;
}
.page .R {
  margin: 3px 18px;
}
.page .select {
  width: 45px;
  margin: -2px 3px 0 3px;
}
.page .goto {
  width: 30px;
  text-align: center;
  margin: -1px 3px 0 3px;
  border: 1px solid #d1d1d2;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 1px 0px #d5d7dc, 0px 0px 2px 1px #eeeeee inset;
  -moz-box-shadow: 0px 0px 2px 1px #eeeeee inset;
  -webkit-box-shadow: 0px 0px 2px 1px #eeeeee inset;
}
/*--- box+æ¨??? ---*/
.boxA {
  width: 96%;
  margin: 10px 2% 20px 2%;
  background-color: #fff;
  position: relative;
  z-index: 0;
  border: 1px solid #e8e8e8;
}
.boxA .addbtn {
  position: absolute;
  left: 3px;
  top: 0px;
}
.boxB {
  width: 95%;
  margin: 10px 2.5% 10px 2.5%;
  padding: 0 0 5px 0;
  background-color: #fafafa;
  padding: 0;
  border: 1px solid #e8e8e8;
}
.boxB .addbtn {
  position: absolute;
  left: 3px;
  top: 0px;
}
.blank {
  height: 20px;
}
.btnbox {
  text-align: center;
  margin: 5px 0;
}
.btnboxL {
  float: left;
  margin: 5px 0;
}
.btnboxR {
  float: right;
  margin: 5px 0;
}
.btnbox2 {
  width: 96%;
  margin: 5px 2%;
}
/*--- æ¨??? ---*/
h3 {
  margin: 0px;
  padding: 2px 30px;
  border-bottom: 1px solid #e8e8e8;
  background: url(../images/titleGreen7.png) no-repeat 0 #f5faf5;
  font-size: 1.2em;
  color: #295F34;
  letter-spacing: 2px;
}
/*--- æ¸??? ---*/
.Listbox {
  width: 96%;
  margin: 5px 2% 0 2%;
  background-color: #fff;
  border: 3px double #A7C986;
  text-align: center;
}
.Listbox .tr {
  background-color: #f5faf0;
}
.Listbox .L {
  text-align: left;
  padding: 3px 8px;
}
.Listbox tr:hover {
  background-color: #f0f2ea;
}
.Listbox th {
  background-color: #cbe5af;
  color: #4d6736;
  border: 1px solid #c3d6c3;
  height: 28px;
  padding: 0 2px;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #fff;
}
.Listbox td {
  padding: 3px 7px;
  border: 1px solid #c3d6c3;
}
.Listbox .nokeyin {
  border: 0;
  background-color: transparent;
}
.nokeyin {
  border: 0;
  background-color: transparent;
}
/*--- è¡¨å? ---*/
.Frombox {
  width: 96%;
  margin: 20px 2%;
  background-color: #ffffff;
  border: 1px solid #c3d6c3;
}
.Frombox .title1 {
  background-color: #FAFAFA;
}
.Frombox .title2 {
  background-color: #fff;
}
.Frombox .th {
  background-color: #cbe5af;
  color: #4d6736;
  font-size: 1.1em;
  text-align: center;
}
.Frombox .td1 {
  background-color: #F2F7EA;
}
.Frombox th,
.Frombox td {
  padding: 7px 7px;
  border: 1px solid #c3d6c3;
}
.Frombox th {
  background-color: #cbe5af;
  color: #4d6736;
  font-size: 1.1em;
}
.Frombox table {
  border-collapse: collapse;
}
.Frombox table td {
  border: 0;
  padding: 0px;
}
.Frombox table input[type="radio"] {
  margin: 0 3px;
}
.Frombox table input[type="checkbox"] {
  margin: 0 3px;
}
.Frombox table textarea {
  height: 60px;
}
.Frombox input[type="radio"] {
  margin: 0 3px;
}
.Frombox input[type="checkbox"] {
  margin: 0 3px;
}
.Frombox input[type="image"] {
  vertical-align: middle;
}
.Frombox textarea {
  height: 60px;
}
.Frombox .nokeyin {
  border: 0;
  background-color: transparent;
}
.Frombox .number {
  display: inline-block;
  width: 10%;
  margin-right: 5px;
  font-weight: bold;
  color: #444;
  text-align: right;
}
.Frombox .text {
  display: inline-block;
  width: 87%;
  vertical-align: top;
}
.Frombox .text2 {
  display: inline-block;
  background: url(../images/icon3.png) no-repeat 0 3px;
  padding: 0 0 0 18px;
}
/*--- ?????????»¶ ---*/
.Condition {
  margin: 8px 0;
  border: 0;
}
.Condition td {
  padding: 5px 10px;
}
.Condition .text {
  display: inline-block;
  background: url(../images/icon1.png) no-repeat 0;
  padding: 0 5px 0 20px;
  vertical-align: middle;
}
.Condition table {
  border-collapse: collapse;
  display: inline;
  vertical-align: middle;
}
.Condition table td {
  border: 0;
  padding: 3px 0;
}
.Condition table input[type="radio"] {
  margin: 0 3px;
}
.Condition table input[type="checkbox"] {
  margin: 0 3px;
}
.Condition table textarea {
  width: 99%;
  height: 60px;
  font-family: "å¾®è??­£é»???", Arial;
}
.Condition input[type="radio"] {
  margin: 0 3px;
}
.Condition input[type="checkbox"] {
  margin: 0 3px;
}
.Condition input[type="image"] {
  vertical-align: middle;
}
.Condition input[type="text"] {
  width: 100px;
}